alpaca-trade-api==0.53.0
attrs==20.3.0
beautifulsoup4==4.9.3
boto3==1.17.9
botocore==1.20.9
certifi==2020.12.5
chardet==4.0.0
cycler==0.10.0
finta==1.2
google-pasta==0.2.0
idna==2.10
imbalanced-learn==0.7.0
importlib-metadata==3.4.0
jmespath==0.10.0
joblib==1.0.1
kiwisolver==1.3.1
lxml==4.6.2
matplotlib==3.3.4
numpy==1.20.1
packaging==20.9
pandas==1.2.2
pandas-datareader==0.9.0
Pillow==8.1.0
protobuf==3.14.0
protobuf3-to-dict==0.1.5
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
s3transfer==0.3.4
sagemaker==2.24.5
scikit-learn==0.24.1
scipy==1.6.0
seaborn==0.11.1
six==1.15.0
smdebug-rulesconfig==1.0.1
soupsieve==2.2
threadpoolctl==2.1.0
urllib3==1.26.5
websocket-client==0.57.0
websockets==8.1
zipp==3.4.0
